<!-- <img src="images/Demons-4.jpg" id="pic">
<div id="hellish">
	
	<h1 id="welcome">Welcome</h1>
	<h1 id="tohell">To Hell!</h1>
</div> -->

<div class="carousel slide" id="myCarousel">

	<ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
		<li data-slide-to="1" data-target="#myCarousel"></li>
		<li data-slide-to="2" data-target="#myCarousel"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item active" id="slide1">
			<div class="carousel-caption">
				<h3>Eins</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
		<div class="item" id="slide2">
			<div class="carousel-caption">
				<h3>Zwei</h3>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<div class="item" id="slide3">
			<div class="carousel-caption">
				<h3>Drei</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>

	<a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
	<a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
</div>

<div class="row" id="bigCallOut">
	<div class="col-12">
		<div class="well well-small visible-xs">
			<a href="" class="btn btn-lg btn-block" id="callmebtn"><span class="glyphicon glyphicon-phone"></span>Magic button</a>
		</div>
		<div class="alert alert-success alert-block fade in" id="successAlert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h1>Pop up section</h1>
			<p>Close this by clicking on the X</p>
		</div>
		<div class="well">
			<div class="page-header">
				<h1>Header <small>Subheader</small></h1>
			</div>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<a href="" class="btn btn-lg btn-primary" id="popbtn">
				Click this dead button</a>
			<a href="" class="btn btn-lg btn-link">
				Or this dead link</a>
		</div>
	</div>
</div>

<div class="row" id="featuresHeading">
	<div class="col-12">
		<h2>More Features</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
	</div>
</div>

<div class="row" id="features">
	<div class="col-sm-3 feature">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Mark up with HTML5</h3>
			</div>
			<img src="images/badge_html5.jpg" alt="HTML5"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<a href="" target="_blank" class="btn btn-warning btn-block">HTML5</a>
		</div>
	</div>

	<div class="col-sm-3 feature">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Style with Bootstrap3</h3>
			</div>
			<img src="images/badge_bootstrap.jpg" alt="Bootstrap3"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<a href="" target="_blank" class="btn btn-warning btn-block">Bootstrap3 & CSS3</a>
		</div>
	</div>

	<div class="col-sm-3 feature">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">SPA with AngularJS</h3>
			</div>
			<img src="images/angular-js-icon.jpg" alt="AngularJS"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<a href="" target="_blank" class="btn btn-warning btn-block">AngularJS</a>
		</div>
	</div>

	<div class="col-sm-3 feature">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Events with jQuery</h3>
			</div>
			<img src="images/jquery.png" alt="AngularJS"/>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<a href="" target="_blank" class="btn btn-warning btn-block">jQuery</a>
		</div>
	</div>
</div>

<div class="row" id="moreInfo">
	<div class="col-sm-6">
		<h3>Tabbable Content</h3>
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active makeactive"><a href="#tab1" data-toggle="tab">Section 1</a></li>
				<li class="makeactive"><a href="#tab2" data-toggle="tab">Section 2</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<h4><span class="glyphicon glyphicon-map-marker"></span>My home <small>if you can see it</small></h4>

					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15509.500583067382!2d79.40848190000001!3d13.63492930000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d4ae3b106f045%3A0x14412ff06c193408!2sChenna+Reddy+Colony%2C+Marri+Chenna+Reddy+Colony%2C+Tirupati%2C+Andhra+Pradesh+517507!5e0!3m2!1sen!2sin!4v1435740632065" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				</div>

				<div class="tab-pane" id="tab2">
					<h4>A left floating picture</h4>
					<img src="http://placehold.it/140" class="thumbnail pull-left"/>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

					<hr/>
					<a data-target="#myModal" role="button" class="btn btn-warning" data-toggle="modal"><span class="glyphicon glyphicon-hand-up"></span>Click for a modal window</a>

					<div class="modal fade" id="myModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Modal window</h4>
								</div>

								<div class="modal-body">
									<h4>Text in modal</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

									<h4>Popovers in a modal</h4> 
									<a href=""
									class="btn btn-primary pop" data-toggle="popover" data-placement="right" data-original-title="Why email me?" data-content="Because you want to">Popover</a>

									<h4>Tooltips in a modal</h4>
									<a href="" data-original-title="tooltip1" rel="tooltips">This link </a>should have a tooltip and so should <a href="" data-original-title="tooltip2" rel="tooltips">this one</a><br/><br/>

									<form class="form-horizontal">
										<div class="form-group">
											<label class="col-lg-2 control-label" for="inputName">Name</label>
											<div class="col-lg-10">
												<input class="form-control" id="inputName" placeholder="Name" type="text"/>
											</div>
										</div>

										<div class="form-group">
											<label class="col-lg-2 control-label" for="inputEmail">Email</label>
											<div class="col-lg-10">
												<input class="form-control" id="inputEmail" placeholder="Email" type="email"/>
											</div>
										</div>

										<div class="form-group">
											<label class="col-lg-2 control-label" for="inputSubject">Subject</label>
											<div class="col-lg-10">
												<input class="form-control" id="inputSubject" placeholder="Subject" type="text"/>
											</div>
										</div>

										<div class="form-group">
											<label class="col-lg-2 control-label" for="inputBody">Message</label>
											<div class="col-lg-10">
												<textarea class="form-control" id="inputBody" placeholder="Your message" rows="5">
												</textarea>
												<button class="btn btn-success pull-right">Send</button>
											</div>
										</div>
									</form>

								</div>

								<div class="modal-footer">
									<hr/>
									<p><small class="text-muted pull-left">PS:This form doesnt do anything just yet.</small></p>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<h3>Heading</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		<h4>A listgroup</h4>
		<div class="list-group">
			<a href="" class="list-group-item">
				<h4 class="list-group-item-heading">Eins</h4>
				<p class="list-group-item-text">Eins ist das erste Zahl der deutsche Sprache.</p>
			</a>
			<a href="" class="list-group-item">
				<h4 class="list-group-item-heading">Zwei</h4>
				<p class="list-group-item-text">Zwei ist das zweite Zahl der deutsche Sprache.</p>
			</a>
			<a href="" class="list-group-item">
				<h4 class="list-group-item-heading">Drei</h4>
				<p class="list-group-item-text">Drei ist das dritte Zahl der deutsche Sprache.</p>
			</a>
			<a href="" class="list-group-item">
				<h4 class="list-group-item-heading">Vier</h4>
				<p class="list-group-item-text">Vier ist das vierte Zahl der deutsche Sprache.</p>
			</a>
		</div>
	</div>
</div>

<div class="row" id="moreCourses">
	<div class="col-12">
		<h3>These are the things I love most</h3>
		<div class="thumbnails row">
			<div class="col-sm-6">
				<div class="thumbnail">
					<img style="width:570px;height:250px" src="images/winegarner-heavymetal-splsh.jpg"/>
					<div class="label label-success price"><span class="glyphicon glyphicon-tag"></span><sup>$</sup>0</div>
					<div class="caption">
						<h3>Heavy Metal</h3>
						<p>Heavy live heavy metal!!</p>
						<p><a href="" class="btn btn-primary btn-small" target="_blank">More</a><a href="" class="btn btn-small btn-link" target="_blank">Or not</a></p>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="thumbnail">
					<img style="width:570px;height:250px" src="images/langs.png"/>
					<div class="label label-success price"><span class="glyphicon glyphicon-tag"></span><sup>$</sup>0</div>
					<div class="caption">
						<h3>Languages</h3>
						<p>Among other things</p>
						<p><a href="" class="btn btn-primary btn-small" target="_blank">More</a><a href="" class="btn btn-small btn-link" target="_blank">Or not</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div ng-include src="'partials/footer.html'">
</div>	